.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #e7f1ff;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.color-green{
    color: green;
}
.color-red{
    color: red;
}
.w20{
    width: 20px;
}
.h20{
    height: 20px;
}
.curp{
    cursor: pointer;
}
.add-category-crud--buttons{

}

/*for rotate*/
@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}
.eventoEdit__successEditSpin{
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(3deg);
    transform: rotate(0.3rad);
    transform: rotate(3grad);
    transform: rotate(.03turn);
}

.tagEdit__successEditSpin{
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(3deg);
    transform: rotate(0.3rad);
    transform: rotate(3grad);
    transform: rotate(.03turn);
}